<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CDOTRunLengths2015; Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="tables:conditions" value="Condition2015_RAW" />
    <add key="tables:roadLimits" value="RoadLimits" />
    <add key="tables:conditions:columns" value="ID, HWY, DIR, FROMMEASURE, TOMEASURE, IRIAVG" />
    <add key="tables:roadLimits:columns" value="HWY, DIR, FROMMEASURE, TOMEASURE" />
    <add key="tables:conditions:orderBy" value="HWY, DIR, FROMMEASURE, TOMEASURE" />
    <add key="tables:roadLimits:orderBy" value="HWY, DIR, FROMMEASURE, TOMEASURE" />
    <add key="excel:exportFileName" value="Duplicate_IRIAVG.xlsx"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>