<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  throwExceptions="true"
  internalLogLevel="Debug" 
  internalLogFile="${basedir}/NlogInternal.log" >

  <!--
  This config file controls where various messages are logged
  see http://nlog-project.org/wiki/Documentation for documentation
  -->

  <targets>
    <!--file logger logs messages to the specified text file-->
    <target
      name="file" xsi:type="File"
      fileName="${basedir}/logs/RunLengthsProcessor-log-${shortdate}.txt"
      layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception:format=tostring}"/>

    <target name="csv" xsi:type="File"
      fileName="${basedir}/logs/RunLengthsProcessor-log-${shortdate}.csv">
      <layout xsi:type="CSVLayout">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}"/>
        <column name="message" layout="${message}" />
        <column name="stacktrace" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>


  <rules>
    <!-- Levels: Off, Trace, Debug, Info, Warn, Error, Fatal -->

    <!--Log messages of level Info and above to the file logger configured above-->
    <logger name="*" minlevel="Debug" writeTo="file,csv" />

    <!--Log messages of level Fatal and above to the eventlog logger configured above-->
    <!--<logger name="*" minlevel="Error" writeTo="eventlog" />-->
  </rules>

</nlog>